TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_IDS=
ASSISTANT_ROOT=D:\Asistant
OPS_DIR=D:\Asistant\ops
APPLICATIONS_DIR=D:\Asistant\applications
CODEX_WORKSPACES=morajobs=D:\Asistant\applications\morajobs;morapos=D:\Asistant\applications\morapos;serbaberes=D:\Asistant\applications\serbaberes
GIT_REPOS=morajobs=git@github.com:USER/morajobs.git;morapos=git@github.com:USER/morapos.git;serbaberes=git@github.com:USER/serbaberes.git
ALLOW_NETWORK_TASKS=false