TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_IDS=

ASSISTANT_ROOT=/home/${USER}/assistant
OPS_DIR=/home/${USER}/assistant/ops
APPLICATIONS_DIR=/workspaces/applications 

CODEX_WORKSPACES=morajobs=<workspace_path_1>;morapos=<workspace_path_2>;serbaberes=<workspace_path_3>
GIT_REPOS=morajobs=git@github.com:USER/morajobs.git;morapos=git@github.com:USER/morapos.git;serbaberes=git@github.com:USER/serbaberes.git

CODEX_CONFIG_PATH=/home/${USER}/assistant/ops/config.toml
ALLOW_NETWORK_TASKS=false

OLLAMA_BASE_URL=http://host.docker.internal:11435
OLLAMA_REQUEST_TIMEOUT_MS=600000
